body {
    margin: 0px;
    background-color: black;
    font-family:'Arial';
    /*font-family: 'Carter One', cursive;*/
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    height: 1500px;
    width: 100%;
    display: inline-flex;
    z-index: 10;
}

header img {
    width: 1200px;
    height: 200px;
}

.name-chara {
    height: 65px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 5px;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 50px;
}

.social-media  {
    height:100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    justify-content: center;
}

.logo {
    padding: 0 20px;
}   

.btn {
    display: inline-block;
    color: white;
}

.image-chara {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-chara img {
    height: 1000px;
    width: 1000PX;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}

.social-media a{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.7;
}

.social-media a:hover {
    opacity: 1;
    border-bottom: 2px solid white;
}

.top-wrapper {
    height: 500px;
    width: 100%;
    margin-bottom: 100px;
    background-color: black;
}

.top-wrapper video {
    width: 100%;
    opacity: 0.7;
    position: absolute;
}

.btn-new {
    display: inline-block;
    color: white;
    border-radius: 50px;
    border: 3px solid white;
    opacity: 0.7;
}

.top-wrappers a:hover {
    opacity: 1;
}
.top-wrappers {
    width: 200px;
    display: flex;
    margin: 0 auto;
    padding-top: 400px;
    justify-content: center;
    position: relative;
    font-size: 40px;
}

.hadiah {
    padding: 10 50px;
}

footer {
    height: 150px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    position: absolute;
    color: white;
    opacity: 0.8;
}

footer span {
    color: red;
}