body {
    margin: 0px;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    height: 100px;
    width: 100%;
    margin-bottom: 100px;
}

header img {
    width: 1200px;
    height: 200px;
}

.name-chara {
    height: 65px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    line-height: 5px;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 50px;
}

.social-media {
    height:100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    justify-content: center;
}

.logo {
    padding-left: 15px;
}   

.btn {
    display: inline-block;
    color: white;
}

.image-chara {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-chara img {
    height: 1000px;
    width: 1000PX;
}

.social-media a{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}